.image_card {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 1px #e5e7eb;
    width: 250px;
    padding: 10px;
}

.image {
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.liked {
    color: darkred;
}

.like_btn {
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
}
