.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.images_list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
            ". . .";
    width:980px;
}

.more_btn{
    cursor: pointer;
    width: 150px;
    height: 50px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
}
