.list {
    background-color: #61dafb;
}

.images_list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
            ". . .";
}

.image_card {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 1px #e5e7eb;
}

img {
    height: 100px;
}

.liked {
    color: darkred;
}

button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
}
